@font-face {
    font-family: 'NanumMyeongjoBold';
    src: url('NanumMyeongjoBold.eot');
    src: url('NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
        url('NanumMyeongjoBold.woff2') format('woff2'),
        url('NanumMyeongjoBold.woff') format('woff'),
        url('NanumMyeongjoBold.svg#NanumMyeongjoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareL';
    src: url('NanumSquareL.eot');
    src: url('NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareL.woff2') format('woff2'),
        url('NanumSquareL.woff') format('woff'),
        url('NanumSquareL.svg#NanumSquareL') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('NanumSquareR.eot');
    src: url('NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareR.woff2') format('woff2'),
        url('NanumSquareR.woff') format('woff'),
        url('NanumSquareR.svg#NanumSquareR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('NanumMyeongjo.eot');
    src: url('NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
        url('NanumMyeongjo.woff2') format('woff2'),
        url('NanumMyeongjo.woff') format('woff'),
        url('NanumMyeongjo.svg#NanumMyeongjo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('NanumSquareRoundB.eot');
    src: url('NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareRoundB.woff2') format('woff2'),
        url('NanumSquareRoundB.woff') format('woff'),
        url('NanumSquareRoundB.svg#NanumSquareRoundB') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('NanumMyeongjoExtraBold.eot');
    src: url('NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NanumMyeongjoExtraBold.woff2') format('woff2'),
        url('NanumMyeongjoExtraBold.woff') format('woff'),
        url('NanumMyeongjoExtraBold.svg#NanumMyeongjoExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('NanumBarunGothic.eot');
    src: url('NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
        url('NanumBarunGothic.woff2') format('woff2'),
        url('NanumBarunGothic.woff') format('woff'),
        url('NanumBarunGothic.svg#NanumBarunGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url('NanumSquareEB.eot');
    src: url('NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareEB.woff2') format('woff2'),
        url('NanumSquareEB.woff') format('woff'),
        url('NanumSquareEB.svg#NanumSquareEB') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('NanumBarunGothicLight.eot');
    src: url('NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
        url('NanumBarunGothicLight.woff2') format('woff2'),
        url('NanumBarunGothicLight.woff') format('woff'),
        url('NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('NanumGothicExtraBold.eot');
    src: url('NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NanumGothicExtraBold.woff2') format('woff2'),
        url('NanumGothicExtraBold.woff') format('woff'),
        url('NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('NanumSquareB.eot');
    src: url('NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareB.woff2') format('woff2'),
        url('NanumSquareB.woff') format('woff'),
        url('NanumSquareB.svg#NanumSquareB') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('NanumSquareRoundEB.eot');
    src: url('NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareRoundEB.woff2') format('woff2'),
        url('NanumSquareRoundEB.woff') format('woff'),
        url('NanumSquareRoundEB.svg#NanumSquareRoundEB') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url('NanumGothicLight.eot');
    src: url('NanumGothicLight.eot?#iefix') format('embedded-opentype'),
        url('NanumGothicLight.woff2') format('woff2'),
        url('NanumGothicLight.woff') format('woff'),
        url('NanumGothicLight.svg#NanumGothicLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('NanumSquareRoundR.eot');
    src: url('NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareRoundR.woff2') format('woff2'),
        url('NanumSquareRoundR.woff') format('woff'),
        url('NanumSquareRoundR.svg#NanumSquareRoundR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('NanumGothicBold.eot');
    src: url('NanumGothicBold.eot?#iefix') format('embedded-opentype'),
        url('NanumGothicBold.woff2') format('woff2'),
        url('NanumGothicBold.woff') format('woff'),
        url('NanumGothicBold.svg#NanumGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('NanumBarunGothicBold.eot');
    src: url('NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
        url('NanumBarunGothicBold.woff2') format('woff2'),
        url('NanumBarunGothicBold.woff') format('woff'),
        url('NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('NanumBarunGothicUltraLight.eot');
    src: url('NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
        url('NanumBarunGothicUltraLight.woff2') format('woff2'),
        url('NanumBarunGothicUltraLight.woff') format('woff'),
        url('NanumBarunGothicUltraLight.svg#NanumBarunGothicUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NanumPen';
    src: url('NanumPen.eot');
    src: url('NanumPen.eot?#iefix') format('embedded-opentype'),
        url('NanumPen.woff2') format('woff2'),
        url('NanumPen.woff') format('woff'),
        url('NanumPen.svg#NanumPen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('NanumGothic.eot');
    src: url('NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('NanumGothic.woff2') format('woff2'),
        url('NanumGothic.woff') format('woff'),
        url('NanumGothic.svg#NanumGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url('NanumSquareRoundL.eot');
    src: url('NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareRoundL.woff2') format('woff2'),
        url('NanumSquareRoundL.woff') format('woff'),
        url('NanumSquareRoundL.svg#NanumSquareRoundL') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBrush';
    src: url('NanumBrush.eot');
    src: url('NanumBrush.eot?#iefix') format('embedded-opentype'),
        url('NanumBrush.woff2') format('woff2'),
        url('NanumBrush.woff') format('woff'),
        url('NanumBrush.svg#NanumBrush') format('svg');
    font-weight: normal;
    font-style: normal;
}

