@font-face {
    font-family: 'NanumMyeongjo';
    src: url('fonts/NanumMyeongjoBold.eot');
    src:
        url('fonts/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumMyeongjoBold.woff2') format('woff2'),
        url('fonts/NanumMyeongjoBold.woff') format('woff'),
        url('fonts/NanumMyeongjoBold.ttf') format('ttf'),
        url('fonts/NanumMyeongjoBold.svg#NanumMyeongjoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('fonts/NanumSquareL.eot');
    src:
        url('fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareL.woff2') format('woff2'),
        url('fonts/NanumSquareL.woff') format('woff'),
        url('fonts/NanumSquareL.ttf') format('ttf'),
        url('fonts/NanumSquareL.svg#NanumSquareL') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('fonts/NanumSquareR.eot');
    src:
        url('fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareR.woff2') format('woff2'),
        url('fonts/NanumSquareR.woff') format('woff'),
        url('fonts/NanumSquareR.ttf') format('ttf'),
        url('fonts/NanumSquareR.svg#NanumSquareR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('fonts/NanumMyeongjo.eot');
    src:
        url('fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumMyeongjo.woff2') format('woff2'),
        url('fonts/NanumMyeongjo.woff') format('woff'),
        url('fonts/NanumMyeongjo.ttf') format('ttf'),
        url('fonts/NanumMyeongjo.svg#NanumMyeongjo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('fonts/NanumSquareRoundB.eot');
    src:
        url('fonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareRoundB.woff2') format('woff2'),
        url('fonts/NanumSquareRoundB.woff') format('woff'),
        url('fonts/NanumSquareRoundB.ttf') format('ttf'),
        url('fonts/NanumSquareRoundB.svg#NanumSquareRoundB') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('fonts/NanumMyeongjoExtraBold.eot');
    src:
        url('fonts/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumMyeongjoExtraBold.woff2') format('woff2'),
        url('fonts/NanumMyeongjoExtraBold.woff') format('woff'),
        url('fonts/NanumMyeongjoExtraBold.ttf') format('ttf'),
        url('fonts/NanumMyeongjoExtraBold.svg#NanumMyeongjoExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('fonts/NanumBarunGothic.eot');
    src:
        url('fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumBarunGothic.woff2') format('woff2'),
        url('fonts/NanumBarunGothic.woff') format('woff'),
        url('fonts/NanumBarunGothic.ttf') format('ttf'),
        url('fonts/NanumBarunGothic.svg#NanumBarunGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('fonts/NanumSquareEB.eot');
    src:
        url('fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareEB.woff2') format('woff2'),
        url('fonts/NanumSquareEB.woff') format('woff'),
        url('fonts/NanumSquareEB.ttf') format('ttf'),
        url('fonts/NanumSquareEB.svg#NanumSquareEB') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('fonts/NanumBarunGothicLight.eot');
    src:
        url('fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumBarunGothicLight.woff2') format('woff2'),
        url('fonts/NanumBarunGothicLight.woff') format('woff'),
        url('fonts/NanumBarunGothicLight.ttf') format('ttf'),
        url('fonts/NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothicExtraBold.eot');
    src:
        url('fonts/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumGothicExtraBold.woff2') format('woff2'),
        url('fonts/NanumGothicExtraBold.woff') format('woff'),
        url('fonts/NanumGothicExtraBold.ttf') format('ttf'),
        url('fonts/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('fonts/NanumSquareB.eot');
    src:
        url('fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareB.woff2') format('woff2'),
        url('fonts/NanumSquareB.woff') format('woff'),
        url('fonts/NanumSquareB.ttf') format('ttf'),
        url('fonts/NanumSquareB.svg#NanumSquareB') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('fonts/NanumSquareRoundEB.eot');
    src:
        url('fonts/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareRoundEB.woff2') format('woff2'),
        url('fonts/NanumSquareRoundEB.woff') format('woff'),
        url('fonts/NanumSquareRoundEB.ttf') format('ttf'),
        url('fonts/NanumSquareRoundEB.svg#NanumSquareRoundEB') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothicLight.eot');
    src:
        url('fonts/NanumGothicLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumGothicLight.woff2') format('woff2'),
        url('fonts/NanumGothicLight.woff') format('woff'),
        url('fonts/NanumGothicLight.ttf') format('ttf'),
        url('fonts/NanumGothicLight.svg#NanumGothicLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('fonts/NanumSquareRoundR.eot');
    src:
        url('fonts/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareRoundR.woff2') format('woff2'),
        url('fonts/NanumSquareRoundR.woff') format('woff'),
        url('fonts/NanumSquareRoundR.ttf') format('ttf'),
        url('fonts/NanumSquareRoundR.svg#NanumSquareRoundR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothicBold.eot');
    src:
        url('fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumGothicBold.woff2') format('woff2'),
        url('fonts/NanumGothicBold.woff') format('woff'),
        url('fonts/NanumGothicBold.ttf') format('ttf'),
        url('fonts/NanumGothicBold.svg#NanumGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('fonts/NanumBarunGothicBold.eot');
    src:
        url('fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumBarunGothicBold.woff2') format('woff2'),
        url('fonts/NanumBarunGothicBold.woff') format('woff'),
        url('fonts/NanumBarunGothicBold.ttf') format('ttf'),
        url('fonts/NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('fonts/NanumBarunGothicUltraLight.eot');
    src:
        url('fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumBarunGothicUltraLight.woff2') format('woff2'),
        url('fonts/NanumBarunGothicUltraLight.woff') format('woff'),
        url('fonts/NanumBarunGothicUltraLight.ttf') format('ttf'),
        url('fonts/NanumBarunGothicUltraLight.svg#NanumBarunGothicUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NanumPen';
    src: url('fonts/NanumPen.eot');
    src:
        url('fonts/NanumPen.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumPen.woff2') format('woff2'),
        url('fonts/NanumPen.woff') format('woff'),
        url('fonts/NanumPen.ttf') format('ttf'),
        url('fonts/NanumPen.svg#NanumPen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothic.eot');
    src:
        url('fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumGothic.woff2') format('woff2'),
        url('fonts/NanumGothic.woff') format('woff'),
        url('fonts/NanumGothic.ttf') format('ttf'),
        url('fonts/NanumGothic.svg#NanumGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('fonts/NanumSquareRoundL.eot');
    src:
        url('fonts/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumSquareRoundL.woff2') format('woff2'),
        url('fonts/NanumSquareRoundL.woff') format('woff'),
        url('fonts/NanumSquareRoundL.ttf') format('ttf'),
        url('fonts/NanumSquareRoundL.svg#NanumSquareRoundL') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBrush';
    src: url('fonts/NanumBrush.eot');
    src:
        url('fonts/NanumBrush.eot?#iefix') format('embedded-opentype'),
        url('fonts/NanumBrush.woff2') format('woff2'),
        url('fonts/NanumBrush.woff') format('woff'),
        url('fonts/NanumBrush.ttf') format('ttf'),
        url('fonts/NanumBrush.svg#NanumBrush') format('svg');
    font-weight: normal;
    font-style: normal;
}